Flask==3.0.3
python-docx==1.1.2
reportlab==4.2.2
pandas==2.2.2
Pillow==10.4.0
gunicorn==22.0.0
pypdf==4.3.1
openpyxl==3.1.5
qrcode==7.5.3
arabic-reshaper==3.0.0
python-bidi==0.4.2
Markdown==3.6
pillow-heif==0.18.0
python-pptx==0.6.23
